@import './_var.scss';
// 필수(768,580,320)

@media (min-width: 1440px) {
    #sub-info .info-page .info-container .info-CI {
        padding: 0;
    }
    #sub-info .info-page .info-container .all-color {
        margin: 100px 0;
    }
    #sub-info .info-page .info-detail .info-story-container {
        padding: 6.25rem 0;
    }
}

@media (max-width: 1440px) {
    #sub-info .info-page .banner .banner-container .banner-text{
        width: 90%;
        margin: 0 auto;
    }
}


@media (max-width: 1280px) {
    #sub-info .info-page{
        .banner .banner-container .banner-text{
            .main-title {
                font-size: 2.625rem;
                margin-bottom: 0;
            }
            .sub-title{
                font-size: 1.25rem;
                padding-bottom: 1rem;
            }
            .sub-content{
                font-size: .875rem;
            }
        }
        .info-container .info-CI .logo-grid {
            height: 758px;
        }
        .info-detail .info-story-container{
            .info-brandstory{
                .brandstory-title{
                    font-size: 1.25rem;
                }
                .brandstory-de {
                    font-size: 2rem;
                    margin-bottom: 0;
                }
                .brandstory-sub-de{
                    font-size: 1.25rem;
                    line-height: 32px;
                } 
            } 
            .detail-text span {
                font-size: 0.875rem;
            }
        } 
    } 
}

@media (max-width: 1280px) {
    #sub-info .info-page{
        .banner .banner-container .banner-text .sub-content {
            .info-b-disN{
                display: block;
            }
        }
        .info-detail{
            height: 490px;
            .detail-text {
                font-size: 1.5rem;
            }
        }
        .info-container .info-location .loc-box {
            width: calc(50% - 20px);
        }
        .info-container .info-location #map-box {
            width: calc(50% - 20px);
        }
    }
}


@media (max-width: 990px) {
    #sub-info .info-page{
        .banner .banner-container .banner-text .sub-content {
            .info-b-disN2{
                display: block;
            }
        }
        .info-detail{
            height: 530px;
            .info-story-container{
                .info-brandstory{
                    .brandstory-de {
                        font-size: 1.75rem;
                    }
                    .brandstory-sub-de {
                        .info-b-disN{
                            display: block;
                        }
                    }
                }
                .detail-text{
                    
                    .detail-text01{
                        display: none;
                    }
                    .detail-text02{
                        display: block;
                    }
                }
            }
        } 
        .info-container{
            .info-location {
                .loc-box{
                    width: 100%;
                    height: 400px;
                }
                #map-box{
                    width: 50%;
                    height: 400px;
                    margin: 100px 0;
                }
                .info-contact{
                    width: 50%;
                    height: 400px;
                }
            }
            .info-CI .logo-grid {
                height: 646px;
            }
        } 
    } 
}

@media (max-width: 850px) {
    #sub-info .info-page .info-container .info-CI .logo-grid {
        height: 580px;
    }
}

@media (min-width: 769px) {
    #sub-info .info-page .info-container .info-CI {
        border-bottom: none;
    }
}

@media (max-width: 768px) {
    #sub-info .info-page{
        .banner {
            height: 370px;
            .banner-container{
                .banner-text{
                    .main-title{
                        @include f-36-700-52;
                        animation: slideIn 2s ease forwards;
                        padding-bottom: .625rem;
                    }
                    .sub-title{
                        display: none;
                    }
                    .tablet-sub-title{
                        display: block;
                        animation: slideIn 2s ease forwards;
                        animation-delay: 0.3s; // 서브 타이틀이 메인 타이틀 뒤에 슬라이드
                        opacity: 0; // 초기 상태로 설정
                        @include f-18-400-26;
                        padding-bottom: .625rem;
                    }
                    .sub-content{
                        display: none;
                    }
                    .tablet-sub-content{
                        display: block;
                        animation: slideIn 2s ease forwards;
                        animation-delay: 1.3s; // 서브 타이틀이 메인 타이틀 뒤에 슬라이드
                        opacity: 0; // 초기 상태로 설정
                        font-size: 1rem;
                        line-height: 24px;
                        font-weight: 400;
                    }
                }
            }
        }
        .info-container{
            .all-color{
                margin: 40px 20px;
            }
            .info-CI {
                padding: 40px 20px;
                h3{
                    margin: 0;
                    margin-bottom: 20px;
                }
                .logo-grid{
                    height: 528px;
                    .main-logo-content{
                        h4{
                            @include f-14-700-20;
                        }
                    }
                    .sub-logo-content{
                        ul{
                            margin-top: 90px;
                            .symbol-logo{
                                h4{
                                    @include f-14-700-20;
                                }
                            }
                            .vertical-logo{
                                h4{
                                    @include f-14-700-20;
                                }
                            }
                        }
                    }
                }
            }
        }
        .info-detail{
            height: 400px;
            margin-top: 40px;
            .info-story-container{
                gap: 40px;
                padding: 0 20px;
                .info-brandstory{
                    .brandstory-de {
                        line-height: 40px;
                        font-size: 1.5rem;
                    }
                    .brandstory-sub-de {
                        display: none;
                    }
                    .brandstory-de{
                        .info-b-disN{
                            display: block;
                        }
                    }
                }
                .detail-text span {
                    line-height: 22px;
                }
            }
        } 
        .info-container{
            .info-location {
                margin: 40px 0;
                .loc-box{
                    margin-bottom: 40px;
                    height: 400px;
                    .loc-text-box{
                        h4{
                            @include f-36-700-52;
                        }
                        .loc-ko{
                            @include f-18-700-26;
                        }
                        .loc-eg{
                            @include f-18-700-26;
                        }
                    }
                }
                #map-box{
                    height: 400px;
                    margin: 0;
                }
                .info-contact{
                    height: 400px;
                    margin: 0;
                    h3{
                        @include f-36-700-52;
                    }
                    p{
                        @include f-18-700-26;
                    }
                }
            }
        }
    }
}

@media (max-width: 650px) {
    #sub-info .info-page .info-container .info-CI .logo-grid {
        height: 465px;
    }
}

@media (max-width: 580px) {
    #sub-info .info-page{
        .banner{
            height: 250px;
            .banner-container .banner-text{
                .main-title {
                    @include f-20-700-28;
                    padding-bottom: .625rem;
                }
                .tablet-sub-title{
                    display: none;
                }
                .tablet-sub-content{
                    display: none;
                }
                .mobile-sub-content{
                    display: block;
                    @include  f-12-400-18;
                    line-height: 20px;
                    animation: slideIn 2s ease forwards;
                    animation-delay: 0.3s; // 서브 타이틀이 메인 타이틀 뒤에 슬라이드
                    opacity: 0; // 초기 상태로 설정
                }
            } 
        }
        .info-container{
            .all-color ul{
                .main-color, .point-color{
                    h3 {
                        @include f-18-700-26;
                    }
                }
            } 
            .info-CI{
                h3{
                    @include f-18-700-26;
                }
                .logo-grid {
                    height: 392px;
                    .sub-logo-content ul {
                        margin-top: 32px;
                    }
                }
            } 
            .info-location .info-contact h3 {
                font-size: 1.25rem;
                font-weight: 700;
                line-height: 36px;
            }
        }
    }
}

@media (max-width: 500px){
    #sub-info .info-page .banner{
        height: 210px;
        .banner-container .banner-text{
            padding: 6.25rem 0;
            .main-title {
                font-size: 20px;
            }
            .mobile-sub-content {
                font-size: 12px;
            }
        } 
    }
}

@media (max-width: 480px) {
    #sub-info .info-page{
        .info-container{
            .info-location{
                .loc-box {
                    height: 350px;
                    .loc-text-box{
                        .loc-ko {
                            margin: 20px 0 4px;
                        }
                        .loc-eg{
                            line-height: 20px;
                        }
                    } 
                }
                #map-box {
                    height: 350px;
                }
                .info-contact {
                    height: 350px;
                    h3{
                        font-size: 1.8rem;
                    }
                    .info-email{
                        margin: 4px 0 0;
                    }
                }
            } 
            .info-CI .logo-grid {
                height: 340px;
                .main-logo-content{
                    h4 {
                        margin-top: 10px;
                    }
                }
                .sub-logo-content ul{
                    .symbol-logo, .vertical-logo{
                        h4 {
                            margin-top: 10px;
                        }
                    }
                } 
            }
        } 
        .info-detail .detail-text {
            font-weight: 400;
            font-size: .875rem;
            line-height: 20px;
        }
    }
}

@media (max-width: 400px) {
    #sub-info .info-page{  
        .info-container{
            .info-location{
                .info-contact {
                    height: 300px;
                }
                #map-box {
                    height: 300px;
                    .customoverlay{
                        bottom: 74px;
                        a {
                            span{
                                font-size: 10px;
                                padding: 6px 8px;
                            }
                        }
                    }
                }
            }
            .info-CI .logo-grid {
                height: 290px;
            }
        } 
        .info-detail {
            height: 200px;
        }
    }
}


@media (max-width: 320px) {
    #sub-info .info-page{
        .info-container{
            .all-color{
                margin: 30px 20px;
                ul{
                    .main-color, .point-color{
                        h3{
                            font-size: 1.3rem;
                            margin-bottom: 4px;
                        }
                        .color-chart-bg {
                            height: 80px;
                            padding: 12px 14px;
                            .color-chart{
                                .color1, .color2, .color3{
                                    span{
                                        line-height: 56px;
                                    }
                                }
                            }
                        }
                    }
                    .point-color{
                        margin-top: 20px;
                    }
                } 
            }
        } 
    } 
    #sub-info .info-page{
        .info-container{
            .info-CI{
                padding: 30px 20px;
                .logo-grid {
                    height: 280px;
                    .main-logo-content{
                        img {
                            width: 70%;
                        }
                        h4{
                            margin-top: 10px;
                        }
                    } 
                    .sub-logo-content{
                        ul{
                            margin-top: 30px;
                            .symbol-logo {
                                width: 26%;
                                h4{
                                    margin-top: 10px;
                                }
                            }
                            .vertical-logo {
                                width: 44%;
                                h4{
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }
            }
            .info-location {
                margin: 30px 0;
                .loc-box {
                    height: 300px;
                    .loc-text-box{
                        h4 {
                            font-size: 2rem;
                        }
                        .loc-ko {
                            font-size: 1rem;
                            margin: 0;
                            margin: 4px 0 2px;
                        }
                        .loc-eg{
                            font-size: 1rem;
                            line-height: 16px;
                        }
                    } 
                }
            }
        } 
        .info-detail{
            height: 180px;
            margin-top: 30px;
            .detail-text {
                font-size: 0.8rem;
                line-height: 16px;
            }
        }
    } 
}
