@import './_var.scss';
// 필수(768,580,320)
@media (max-width: 1720px) {

}


@media (max-width: 1440px) {
    #sub-artist{
        .artist-banner{
            .banner-text{
                width: 90%;
                margin: 0 auto;
            }
        }
    }
    #sub-schedule{
        .container-1280{
            padding: 0 1rem;
        }
    }
}

@media (max-width: 1320px) {
    .container-1280{
        width: 100%;
    }
    #sub-artist{
        .artist-wrap{
            padding: 0 1rem;
        }
    }
}



@media (max-width: 1280px) {
    #sub-artist{
        .artist-banner{
            .banner-text{
                .title{
                    font-size: 2.5rem;
                    padding-bottom: 0;
                }
                .sub-title{
                    font-size: 1.25rem;
                    padding-bottom: 1rem;
                }
                .detail{
                    font-size: .875rem;
                }
            }
        }
        .artist-wrap{
            padding: 0 2rem;
            width: 100%;
            .artist-content{
                .artist-name{
                    .nav-item{
                        .nav-link{
                            padding: 0 3rem;
                        }
                    }
                }
                .sub-artist-detail{
                    .tab-pane{
                        .artist-info{
                            .sub-artist-info-2{
                                .info-detail{
                                    .sub-artist-best-swiper{
                                        .swiper-wrapper{
                                            .swiper-slide{
                                                .img-wrap{
                                                    .sub-best{
                                                        height: 320px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .sub-artist-info-3{
                                .filmo-wrap{
                                    .filmo{
                                        padding: 2.5rem;
                                        .hidden{
                                            display: none;
                                        }
                                        ul{
                                            margin-top: 1.5rem;
                                            gap: 1.5rem;
                                            li{
                                                .detail{
                                                    align-items: flex-start;
                                                    flex-direction: column;
                                                    gap: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #sub-schedule{
        .container-1280{
            .schedule-content{
                .schedule-name{
                    .nav-item{
                        .nav-link{
                            padding: 0 3rem;
                        }
                    }
                }
                .sub-schedule-detail{
                    .tab-pane{
                        .fc{
                            .fc-button-group{
                                width: 150px;
                            }
                        }
                        .fc-toolbar-title{
                            font-size: 2.8rem;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1200px){
    #sub-artist{
        .artist-wrap{
            .artist-content{
                .sub-artist-detail{
                    .tab-pane{
                        .artist-info{
                            .sub-artist-info-3{
                                .filmo-wrap{
                                    .filmo{
                                        padding: 1.5rem;
                                        ul{
                                            gap: 1.2rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1080px){
    #sub-artist{
        .artist-wrap{
            .artist-content{
                .artist-name{
                    margin: 4rem 0;
                    .nav-item{
                        .nav-link{
                            padding: 0 2rem;
                        }
                    }
                }
                .sub-artist-detail{
                    .tab-pane{
                        .artist-info{
                            .sub-artist-info-1{
                                padding-left: 1.5rem;
                            }
                            .sub-artist-info-3{
                                .filmo-wrap{
                                    .filmo{
                                        width: 32%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #sub-schedule{
        .container-1280{
            .schedule-content{
                .schedule-name{
                    .nav-item{
                        .nav-link{
                            padding: 0 2rem;
                        }
                    }
                }
                .sub-schedule-detail{
                    .tab-pane{
                        .fc-today-button.fc-button.fc-button-primary{
                            font-size: 1.25rem;
                        }
                        .fc-toolbar-title{
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    #sub-artist{
        .artist-wrap{
            .artist-content{
                .sub-artist-detail{
                    .tab-pane{
                        .artist-info{
                            .sub-artist-info-2{
                                .info-detail{
                                    .sub-artist-best-swiper{
                                        .swiper-wrapper{
                                            .swiper-slide{
                                                .img-wrap{
                                                    .text{
                                                        .best-title{
                                                            font-size: 1rem;
                                                        }
                                                        .best-sub{
                                                            font-size: .875rem;
                                                        }
                                                    }
                                                    .sub-best{
                                                        height: 250px;
                                                    }
                                                }
                                            }
                                        }
                                        .swiper-button-prev,
                                        .swiper-button-next{
                                            top: 34%;
                                        }
                                    }
                                }
                            }
                            .sub-artist-info-3{
                                .filmo-wrap{
                                    .filmo{
                                        h6{
                                            width: 100%;
                                        }
                                        ul{
                                            li{
                                                gap: 0.8rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 990px) {
    .dB-990{
        display: block;
    }
    #sub-artist{
        .artist-wrap{
            padding: 0;
            .artist-content{
                width: 100%;
                .artist-name{
                    .nav-item{
                        .nav-link{
                            font-size: 1.25rem;
                            &.active{
                                font-size: 1.375rem;
                            }
                        }
                    }
                }
                .sub-artist-detail{
                    .tab-pane{
                        h4{
                            font-size: 2rem;
                            text-align: center;
                            margin-bottom: 4rem;
                        }
                        .artist-info{
                            h5{
                                text-align: center;
                                margin-bottom: 4rem;
                            }
                            .frame-wrap{
                                display: none;
                            }
                            .sub-artist-main-swiper{
                                display: block;
                            }
                            .sub-artist-info-1,
                            .sub-artist-info-2,
                            .sub-artist-info-3{
                                padding: 0 2rem;
                            }
                            .sub-artist-info-1{
                                position: relative;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                text-align: center;
                                padding: 2rem 0 0;
                            }
                            .sub-artist-info-2{
                                margin-top: 4rem;
                                .info-detail{
                                    .sub-artist-best-swiper{
                                        display: none;
                                    }
                                    .sub-artist-best-m-swiper{
                                        display: block;
                                        max-width: 960px;
                                        .swiper-wrapper{
                                            .swiper-slide{
                                                .img-wrap{
                                                    .sub-best{
                                                        width: 220px;
                                                        height: 320px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .sub-artist-info-3{
                                margin-top: 4rem;
                                .filmo-wrap{
                                    .filmo{
                                        h6{
                                            margin: 0 auto;
                                        }
                                        ul{
                                            margin-top: 1rem;
                                            li{
                                                .detail{
                                                    .sub{
                                                        display: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@media (max-width: 880px) {
    #sub-artist{
        .artist-wrap{
            .artist-content{
                .sub-artist-detail{
                    .tab-pane{
                        .artist-info{
                            .sub-artist-info-3{
                                .filmo-wrap{
                                    gap: 2.5rem;
                                    flex-direction: column;
                                    .filmo{
                                        width: 70%;
                                        margin: 0 auto;
                                        h6{
                                            @include f-20-700-36;
                                        }
                                        ul{
                                            margin-top: 1.25rem;
                                            gap: 1.25rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .dN-768{
        display: none;
    }
    #sub-artist{
        .artist-banner{
            .banner-text{
                .title{
                    @include f-36-700-52;
                    padding-bottom: .625rem;
                }
                .sub-title{
                    @include f-18-400-26;
                    padding-bottom: .625rem;
                }
                .detail{
                    @include f-16-400-24;
                }
            }
        }
        .artist-wrap{
            .artist-content{
                .artist-name{
                    margin: 2.5rem 0;
                    gap: 1.25rem;
                    .nav-item{
                        .nav-link{
                            padding: 0;
                            @include f-18-400-26;
                            &.active{
                                @include f-20-700-36;
                            }
                        }
                        .nav-line{
                            display: none;
                        }
                    }
                }
                .sub-artist-detail{
                    .tab-pane{
                        h4{
                            @include f-24-700-36;
                            margin-bottom: 2.5rem;
                        }
                        .artist-info{
                            h5{
                                @include f-24-700-36;
                                margin-bottom: 2.5rem;
                            }
                            .sub-artist-main-swiper{
                                .swiper-pagination{
                                    margin-top: 2.5rem;
                                }
                            }
                            .sub-artist-info-1{
                                position: relative;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                text-align: center;
                                padding: 2.5rem 0 0;
                                p{
                                    padding: 0 0 2.5rem;
                                }
                            }
                            .sub-artist-info-2{
                                .info-detail{
                                    .sub-artist-best-m-swiper{
                                        .swiper-wrapper{
                                            .swiper-slide{
                                                .img-wrap{
                                                    .sub-best{
                                                        width: 260px;
                                                        height: 370px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #sub-schedule{
        padding: 0 0 2.5rem;
        .container-1280{
            padding: 0;
            .schedule-title{
                background-color: #fff;
                gap: 1.25rem;
                height: 324px;
                h2{
                    color: #000;
                    @include f-36-700-52;
                }
                p{
                    color: #000;
                    @include f-18-400-26;
                    .d-768{
                        display: block;
                    }
                }
            }
            .schedule-content{
                padding: 0 1.25rem;
                .schedule-name{
                    margin: 2.5rem 0;
                    gap: 1.25rem;
                    .nav-item{
                        h3{
                            .nav-link{
                                padding: 0;
                            }
                        }
                        .nav-line{
                            display: none;
                        }
                    }
                }
                .sub-schedule-detail{
                    .tab-pane{
                        gap: 0;
                        .artist-schedule-name{
                            padding: .125rem .625rem;
                            margin-bottom: 1.375rem;
                            img{
                                width: 48px;
                            }
                        }
                        .sub-calendar-container{
                            margin-bottom: 2.5rem;
                        }
                        .sub-calendar-m-container{
                            display: block;
                        }
                        .fc{
                            .fc-toolbar.fc-header-toolbar{
                                margin: 1.125rem 1.25rem;
                            }
                            .fc-button-group{
                                width: 78px;
                                height: 32px
                            }
                            .fc-button .fc-icon{
                                font-size: 1.3rem;
                            }
                            thead{
                                display: none;
                            }
                            .fc-daygrid-day-number,
                            .fc-col-header-cell-cushion{
                                @include f-18-700-26;
                            }
                            .fc-daygrid-day.fc-day-today .fc-daygrid-day-top > a,
                            .fc-daygrid-day-top > a.eventText{
                                padding: 16px;
                            }
                            .fc-daygrid-body-unbalanced .fc-daygrid-day-events{
                                display: none;
                            }
                        }
                        .fc-today-button.fc-button.fc-button-primary{
                            width: 54px;
                            height: 34px;
                            padding: 0;
                            @include f-18-700-26;
                        }
                        .fc-today-button.fc-button.fc-button-primary{
                            @include f-18-700-26;
                        }
                        .fc-direction-ltr .fc-button-group > .fc-button:not(:first-child),
                        .fc-direction-ltr .fc-button-group > .fc-button:not(:last-child){
                            padding: 0;
                            line-height: 10px;
                        }
                        .fc-toolbar-title{
                            @include f-18-700-26;
                        }
                    }

                }
            }
        }
    }
}

@media (max-width: 580px) {
    #sub-artist{
        .artist-banner{
            .banner-text{
                padding: 5rem 0;
                .title{
                    @include f-20-700-28;
                    padding-bottom: .625rem;
                }
                .sub-title{
                    display: none;
                }
                .detail{
                    @include f-12-400-18;
                }
            }
        }
        .artist-wrap{
            .artist-content{
                .artist-name{
                    margin: 2.5rem 0 1.25rem;
                    .nav-item{
                        .nav-link{
                            @include f-16-400-24;
                            &.active{
                                @include f-18-700-26;
                            }
                        } 
                    }
                }
                .sub-artist-detail{
                    .tab-pane{
                        h4{
                            margin-bottom: 1.25rem;
                        }
                        .artist-info{
                            h5{
                                
                                margin-bottom: 1.25rem;
                            }
                            .sub-artist-info-3{
                                .filmo-wrap{
                                    .filmo{
                                        padding: 2.5rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    #sub-artist{
        .artist-banner{
            .banner-text{
                .title{
                    font-size: 20px;
                }
                .detail{
                    font-size: 12px;
                }
            }
        }
        .artist-wrap{
            .artist-content{
                .sub-artist-detail{
                    .tab-pane{
                        .artist-info{
                            .sub-artist-info-1{
                                .btn-wrap{
                                    flex-direction: column;
                                }
                            }
                            .sub-artist-info-3{
                                .filmo-wrap{
                                    .filmo-3{
                                        ul{
                                            li{
                                                .detail{
                                                    flex-direction: column;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .dB-480{
        display: block;
    }
    #sub-artist{
        .artist-wrap{
            .artist-content{
                .sub-artist-detail{
                    .tab-pane{
                        .artist-info{
                            .sub-artist-info-3{
                                .filmo-wrap{
                                    .filmo{
                                        width: 100%;
                                        h6{
                                            padding-bottom: 4px;
                                        }
                                        ul{
                                            li{
                                                gap: 0.5rem;
                                                .detail{
                                                    gap: 0.2rem;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 320px) {
    #sub-artist{

    }
}