<!-- 푸터 -->
<footer id="footer">
    <div class="footerTop d-flex justify-content-between align-items-center">
        <ul class="footerLink d-flex">
            <li><a href="#none">개인정보취급방침</a></li>
            <li><a href="#none">이메일주소 무단수집거부</a></li>
            <li><a href="#none">내부자신고제도</a></li>
        </ul>
        <ul class="footerSns d-flex gap-3">
            <li><a href="#none"><img src="/img/sns/facebook.svg" alt="페이스북"></a></li>
            <li><a href="#none"><img src="/img/sns/twitter.svg" alt="X(트위터)"></a></li>
            <li><a href="#none"><img src="/img/sns/youtube.svg" alt="유튜브"></a></li>
        </ul>
    </div>
    <div class="footerBottom d-flex justify-content-between align-items-end">
        <div class="footerInfo01 d-flex">
            <h3>
                <a href="/"><img src="/img/logo/footerLogo.svg" alt="유니버스 엔터테인먼트 하단 로고 입니다">
                </a>
            </h3>
            <ul class="d-flex flex-column">
                <li class="text01">유니버스 엔터테인먼트(UNIVERSEENTERTAINMENT)</li>
                <li>서울특별시 강남구 테헤란로 123, 유니버스 엔터 건물</li>
                <li>+82-2-1234-5678</li>
                <li>contact@enteruniverse.co.kr</li>
                <li>www.enteruniverse.co.kr</li>
            </ul>
        </div>
        <div class="footerInfo02">
            <p>©UNIVERSE ENTERTAINMENT ALL RIGHTS RESERVED.</p>
        </div>
    </div>
</footer>



<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/js/swiper-11.1.14/package/swiper-bundle.min.js"></script>
<script src="/js/fullcalendar-6.1.10/dist/index.global.js"></script>
<script src="/js/plugin.js"></script>
<script src="/js/main.js"></script>

</body>

</html>