<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIVERSE ENT.</title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/scss/layout.min.css">
    <link rel="stylesheet" href="/scss/main.min.css?var=<?php echo time(); ?>">

</head>
<body>
    
    <div id="wrap">

        <header id="header-b">
            <div class="hdcontainer d-flex justify-content-between align-items-center">
                <h1 class="d-flex align-items-center">
                    <a href="/"><img src="/img/logo/logo.svg" alt="유니버스 엔터테인먼트 메인 로고 입니다"></a>
                    <span class="blind">유니버스 엔터테인먼트 UNIVERSE ENTERTAINMENT</span>
                </h1>
                <div class="maunUtil d-flex align-items-center">
                    <nav>
                        <ul class="depth01 d-flex">
                            <li><a href="#">아티스트</a></li>
                            <li><a href="#">굿즈</a></li>
                            <li><a href="#">스케쥴</a></li>
                            <li><a href="#">오디션</a></li>
                            <li><a href="#">회사소개</a></li>
                        </ul>
                    </nav>
                    <ul class="utility d-flex gap-3">
                        <li><a href="#"><img src="/img/icon/Search.svg" alt="검색 아이콘입니다"></a></li>
                        <li><a href="#"><img src="/img/icon/Profile.svg" alt="마이페이지 아이콘입니다"></a></li>
                    </ul>
                </div>
            </div>
        </header>